<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>Happy News</strong>
      </a>
      <a href="{{route('news.index')}}" class="navbar-brand d-flex align-items-center">
        All News
      </a>
      <a href="{{route('news.create')}}" class="navbar-brand d-flex align-items-center">
        Create
      </a>
    </div>
  </div>
</header>